apiVersion: v1
clusters:
- cluster:
    server: __DU_QBERT_FQDN__/qbert/v4/__PROJECT_ID__/sunpike
  name: sunpike
contexts:
- context:
    cluster: sunpike
    user: admin
  name: default
current-context: default
kind: Config
preferences: {}
users:
- name: admin
  user:
    token: TOKEN
